# Ignore ESPHome folder.
.esphome/

# Ignore secrets file.
secrets.yaml

# Ignore every build directory for each component.
sonoff_basic_1/
sonoff_s20_wall_fan/
sonoff_s20_airco/
sonoff_touch_dressing_room/
